@page
@model My_Library.Pages.book.EditModel
@{
}



<br>
<h2>Edit Client</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
	</div>
}

<form method="POST">

	<input type="hidden" name="Sl_no" value="@Model.clientinfo.Sl_no">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Reg. No.</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Reg_Number" value="@Model.clientinfo.Reg_Number">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value="@Model.clientinfo.name">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Book Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="bookname" value="@Model.clientinfo.bookname">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Phone No.</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="phone" value="@Model.clientinfo.phone">
		</div>
	</div>
	<!-- <div class="row mb-3">
		<label class="col-sm-3 col-form-label">Issue Date</label>
		<div class="col-sm-6">
			<input type="hidden" class="form-control" name="IssueDate" value="@Model.clientinfo.IssueDate">
		</div>
	</div>-->
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Return Date</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="ReturnDate" value="@Model.clientinfo.ReturnDate">
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">

				<div class='alert alert-success alert-dismissible fade show' role='alert'>
					<strong>@Model.successMessage</strong>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
				</div>
			</div>
		</div>
	}


	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>


</form> 